<ng-container *ngIf="{ basket: basket$ | async } as data">
  <ng-container *ngIf="data.basket && !isProcessingPayment">
    <cp-header label="Basket"></cp-header>

    <cp-basket-entry-list
      [entries]="data.basket.entries"
      (amountChanged)="onEntryAmountChanged($event)"
      (deleteClicked)="onEntryDeleteClicked($event)"
    ></cp-basket-entry-list>
    <cp-basket-summary
      [totalCount]="data.basket.totalCount"
      [price]="data.basket.price"
    ></cp-basket-summary>

    <div class="action-buttons">
      <p-button
        styleClass="p-button-success"
        label="Confirm"
        [disabled]="data.basket.isEmpty"
        (onClick)="confirmBasket()"
      ></p-button>
      <p-button
        styleClass="p-button-warning"
        label="Clear"
        [disabled]="data.basket.isEmpty"
        (onClick)="clearBasket()"
      ></p-button>
      <p-button
        styleClass="p-button-danger"
        label="Cancel"
        (onClick)="goBackToParts()"
      ></p-button>
    </div>
  </ng-container>
</ng-container>

<div class="payment-loader" *ngIf="isProcessingPayment">
  <p-progressSpinner></p-progressSpinner>
  <p>Processing payment...</p>
</div>
