:host {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;

  .content {
    background-color: rgb(230, 230, 230);
    padding: 0.5rem;
    border-radius: 10px;
  }

  &.current-user {
    align-items: flex-end;

    .content {
      background-color: cornflowerblue;
      color: white;
    }
  }
}
