<ng-container *ngIf="!isAdding && !isEditing">
  <cp-header
    label="Manage parts"
    [addButtonVisible]="true"
    (addButtonClicked)="addPart()"
  ></cp-header>

  <cp-parts-list
    [parts]="items"
    (editClicked)="editPart($event)"
    (deleteClicked)="deletePart($event)"
  ></cp-parts-list>
</ng-container>

<ng-container *ngIf="isAdding || isEditing">
  <cp-header [label]="(isAdding ? 'Add' : 'Edit') + ' part'"></cp-header>
  <cp-part-form
    [name]="name"
    [price]="price"
    (submitted)="onFormSubmitted($event)"
    (cancelled)="onFormCancelled()"
  ></cp-part-form>
</ng-container>
