<form class="part-form" [formGroup]="partForm" (ngSubmit)="onFormSubmitted()">
  <div class="form-control">
    <span class="p-float-label">
      <input
        required
        id="name"
        name="name"
        type="text"
        pInputText
        formControlName="name"
      />
      <label for="name">
        {{ partFormControls.Name | cpPartFormControlLabel }}
      </label>
    </span>
    <cp-form-control-errors
      *ngIf="partForm.controls[partFormControls.Name].touched"
      [controlLabel]="partFormControls.Name | cpPartFormControlLabel"
      [controlErrors]="partForm.controls[partFormControls.Name].errors"
    ></cp-form-control-errors>
  </div>

  <div class="form-control">
    <span class="p-float-label">
      <p-inputNumber
        mode="decimal"
        inputId="price"
        name="price"
        [useGrouping]="false"
        formControlName="price"
      >
      </p-inputNumber>
      <label for="price">
        {{ partFormControls.Price | cpPartFormControlLabel }}
      </label>
    </span>
    <cp-form-control-errors
      *ngIf="partForm.controls[partFormControls.Price].touched"
      [controlLabel]="partFormControls.Price | cpPartFormControlLabel"
      [controlErrors]="partForm.controls[partFormControls.Price].errors"
    ></cp-form-control-errors>
  </div>

  <div class="form-buttons">
    <p-button
      [disabled]="partForm?.invalid ?? false"
      type="submit"
      styleClass="p-button-success"
      label="Save"
    ></p-button>
    <p-button
      type="button"
      styleClass="p-button-danger"
      label="Cancel"
      (onClick)="onFormCancelled()"
    ></p-button>
  </div>
</form>
