:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .content-wrapper {
    display: flex;
    flex-grow: 1;

    .content {
      display: flex;
      flex-grow: 1;
    }

    .sidebar {
      &.hidden {
        display: none;
      }
    }
  }
}
